.container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    
}

.filho {
   
    width: 50px;
    height: 50px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
    margin-left: 0%;
    

}


.azul-claro{
    background-color: #63b1bc;
}

.azul-escuro{
    background-color: #1f2a44;
    color: white;
}

.rosa{
    background-color: #ed145b;
}

.amarelo{
    background-color: #efb661;
}

